@font-face {
  font-family: "Sadhguru Thin";
  src: url("./assets/fonts/sg-thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sadhguru Med";
  src: url("./assets/fonts/sg-med.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sadhguru Thick 1";
  src: url("./assets/fonts/sg-thick-1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sadhguru Thick 2";
  src: url("./assets/fonts/sg-thick-2.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background: #3f2c04;
  font-family: "Sadhguru Med", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
