.quoteCard {
  padding: 0 48px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(138, 70, 6);
  text-align: center;
  animation: fadein 700ms;
}

.quoteDate {
  font-family: "Sadhguru Thin";
  font-size: calc(6px + 1.5vmin);
}

.sg-image {
  height: 400px;
  box-shadow: 0 6px 12px 0 rgba(87, 51, 0, 0.7), 0 8px 12px 0 rgba(0, 0, 0, 0.1);
}

.quoteTextContainer {
  max-width: 800px;
  margin: 2rem 0 0 0;
}

.signatureBox {
  display: flex;
  flex-direction: column;
}

.sg-signature {
  object-fit: contain;
  height: 70px;
}

.sg-underline {
  margin-top: 20px;
  width: 220px;
}

@media screen and (max-width: 1600px) {
  .sg-image {
    height: 300px;
  }
  .sg-signature {
    height: 45px;
  }
  .sg-underline {
    width: 120px;
  }
}

@media screen and (max-width: 600px) {
  .quoteCard {
    padding: 0 24px;
  }
  .sg-image {
    height: 200px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
