:root {
  --light-theme-text-color: #464743;
  --dark-theme-text-color: #f0ebe1;
  --button-color: #7e756d;
  --date-color: #73756d;
  --drawer-bg-color: #464038;
  --drawer-content-font-color: #f5f0e5;
}
