:root {
  --hover-color: #b45100;
  --box-border-color: #b45100;
  --toggleButton-bg-color: #b45100;
  --gallery-page-box-border-color: none;
  --background-dark: #1b1b1b;
  --button-color: #7e756d;
  --date-color: #73756d;
  --drawer-bg-color: #464038;
  --drawer-content-font-color: #f5f0e5;
}
