.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(138, 70, 6);
  overflow-x: hidden;
  transition: 0.5s;
  opacity: 0.95;
}

.open {
  width: 300px;
}

.sidenav .contactContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidenav button {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav p,
h1 {
  font-family: "Sadhguru Thin";
  width: 200px;
  text-align: center;
  color: white;
  font-size: 1rem;
  animation: fadein 1s;
  margin: 2px;
}

h1 {
  font-weight: normal;
  color: rgb(255, 188, 62);
  margin-bottom: 16px;
}

.sidenav button:hover {
  color: #cac8c8;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

.openButton {
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav button {
    font-size: 18px;
  }
}

@media screen and (max-height: 600px) {
  .openButton {
    top: 20px;
  }
}

@media screen and (max-width: 990px) {
  .open {
    width: 100%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
