.socialIcons {
  margin: 1rem;
  display: flex;
  width: 80px;
  justify-content: space-around;
  animation: fadein 1s;
}

.socialIcons img {
  height: 20px;
  width: 20px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
