:root {
  --orange: orange;
  --green: yellowgreen;
  --background: #282c34;
  --primaryFontColor: white;
}

.border {
  border: 7px solid;
}

.green {
  border-color: var(--green);
}

.orange {
  border-color: var(--orange);
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4rem;
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primaryFontColor);
}
.card {
  min-height: 450px;
  width: 450px;
  padding: 2rem;
  box-sizing: border-box;
  /* box-shadow: 0 6px 12px 0 rgba(145, 255, 1, 0.74); */
}

.header {
  display: flex;
  justify-content: space-between;
  color: inherit;
}

.heading {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-family: "Sadhguru Thick 1";
}

.date {
  font-size: 0.5rem;
  font-family: "Sadhguru Thick 1";
  text-transform: uppercase;
}

.mainContent {
  animation: fadeAndMove 0.8s;
}

strong {
  font-style: italic;
}

.word {
  font-family: "Sadhguru Thin";
  font-size: 3.2rem;
  letter-spacing: 1px;
}

.wordDefinition {
  font-family: "Sadhguru Thin";
  font-size: 1.6rem;
}

.wordExample {
  font-family: "Sadhguru Thin";
  font-size: 1rem;
}

sup {
  text-transform: lowercase;
}

.newWordButton {
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translate(50%);
  border: none;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  background: var(--background);
  color: var(--primaryFontColor);
}

.newWordButton:hover {
  cursor: pointer;
}

.newWordButton:focus {
  outline: none;
}

@keyframes fadeAndMove {
  from {
    opacity: 0;
    transform: translate(0, 30px);
  }
  to {
    opacity: 1;
  }
}
